@charset "UTF-8";
/* _base.scss */
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NEXON Lv2 Gothic Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* font-family : 넥슨 Lv.2 고딕 L, R, B */
html {
  overflow-y: scroll; }

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0.98em;
  /* body font size */
  background: #fff;
  /* body background */ }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  /* head font size */
  font-family: "NEXON Lv2 Gothic Bold", sans-serif;
  /* head font family */
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

legend, .sound_only {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden; }

label, input, button, select, img {
  vertical-align: middle;
  font-size: 1.1em; }

input, button {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1.1em; }

input[type="submit"], button {
  cursor: pointer; }

textarea, select {
  font-size: 1.1em; }

select {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  word-break: keep-all; }

hr {
  display: none; }

pre {
  overflow-x: scroll;
  font-size: 1.2em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #002118; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, p, span, pre, i, b, a {
  font-weight: normal;
  font-style: normal;
  font-family: "NEXON Lv2 Gothic", sans-serif;
  color: #002118; }

#empty {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00ffbc;
  opacity: 0.2;
  display: none;
  z-index: 90; }
  #empty.open {
    display: block; }

/* _variables.scss */
/* global { */
/* } global */
/* head { */
/* } head */
/* #home { */
/* } #home */
/* _mixin.scss */
/* _header.scss */
header {
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0px;
  z-index: 99;
  left: 100%; }
  @media screen and (min-width: 1000px) {
    header {
      width: 30%; } }
  @media screen and (max-width: 1000px) {
    header {
      width: 35%; } }
  @media screen and (max-width: 700px) {
    header {
      width: 50%; } }
  @media screen and (max-width: 510px) {
    header {
      width: 70%; } }
  header #mark {
    position: absolute;
    width: 62.5px;
    height: 50px;
    top: 30%;
    z-index: 1;
    left: -62.5px;
    cursor: pointer; }
    @media screen and (max-width: 1000px) {
      header #mark {
        top: 5%; } }
    @media screen and (max-width: 700px) {
      header #mark {
        position: absolute;
        width: 50px;
        height: 40px;
        top: 5%;
        z-index: 1;
        left: -50px; } }
    header #mark .box {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0px;
      z-index: 3;
      box-sizing: border-box;
      padding: 10px;
      background: #00ffbc;
      right: 0; }
      @media screen and (max-width: 700px) {
        header #mark .box {
          position: absolute;
          width: 40px;
          height: 40px;
          top: 0px;
          z-index: 3; } }
    header #mark .tail {
      position: absolute;
      width: 12.5px;
      height: 12.5px;
      top: 0px;
      z-index: 1;
      left: -12.5px;
      box-sizing: border-box;
      border-width: 25px;
      border-style: solid; }
      @media screen and (max-width: 700px) {
        header #mark .tail {
          position: absolute;
          width: 10px;
          height: 10px;
          top: 0px;
          z-index: 1;
          left: -10px;
          border-width: 20px; } }
      header #mark .tail.up {
        border-color: #00ffbc #00ffbc transparent transparent; }
      header #mark .tail.down {
        border-color: transparent #00ffbc #00ffbc transparent; }
    header #mark .bars {
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 10px;
      transition: width 0.24s;
      display: block;
      margin-bottom: 9px; }
      header #mark .bars:nth-child(1) {
        width: 75%; }
      header #mark .bars:nth-child(2) {
        width: 50%; }
      header #mark .bars:nth-child(3) {
        width: 60%;
        margin-bottom: 0; }
      @media screen and (max-width: 700px) {
        header #mark .bars {
          height: 3px;
          margin-bottom: 6px; }
          header #mark .bars:nth-child(1), header #mark .bars:nth-child(2), header #mark .bars:nth-child(3) {
            width: 100%; } }
    header #mark:hover .bars, header #mark.open .bars {
      width: 100%; }

#hd {
  position: relative;
  width: 100%;
  background: #00ffbc;
  height: 100%; }
  #hd .hd1li {
    padding: 15px 15%;
    font-size: 1.3em; }
    @media screen and (max-width: 700px) {
      #hd .hd1li {
        font-size: 1.1em;
        padding: 8px 15%; } }
    #hd .hd1li a {
      position: relative;
      width: 100%;
      font-family: "NEXON Lv2 Gothic Bold", sans-serif;
      color: #fff;
      display: inline-block;
      line-height: 2;
      transition: color 0.24s;
      text-transform: uppercase; }
      #hd .hd1li a::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        top: 100%;
        z-index: 1;
        left: 0;
        width: 0%;
        height: 2px;
        background: #002118;
        border-radius: 10px;
        transition: width 0.24s; }
    #hd .hd1li:hover, #hd .hd1li.active a {
      color: #002118; }
    #hd .hd1li.active a::after {
      width: 70%; }
    @media screen and (max-width: 700px) {
      #hd .hd1li.active a::after {
        width: 90%; } }
  #hd p {
    font-family: "NEXON Lv2 Gothic Bold", sans-serif;
    color: #fff; }
    #hd p:first-child {
      margin-bottom: 30%;
      padding: 40px 15% 0;
      font-size: 1.3em; }
    #hd p:last-child {
      font-size: 0.83em;
      position: absolute;
      bottom: 40px;
      left: 10%;
      padding: 0; }
      @media screen and (max-width: 700px) {
        #hd p:last-child {
          bottom: 20px; } }

/* _home.scss */
#home {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  padding: 5vh 5px;
  width: 1000px;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  @media screen and (max-width: 1000px) {
    #home {
      width: 100%;
      padding: 5vh 20px; } }
  @media screen and (max-width: 700px) {
    #home {
      width: 100%;
      padding: 5vh 20px; } }
  #home:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both; }
  #home .flow_wr {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
    left: 0;
    border-bottom: 60px solid #00ffbc;
    box-sizing: border-box; }
@-webkit-keyframes flow {
  0% {
    top: -10%; }
  100% {
    top: 110%; } }
@keyframes flow {
  0% {
    top: -10%; }
  100% {
    top: 110%; } }
@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translateX(150px); } }
@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translateX(150px); } }
    #home .flow_wr .flow_item {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: "NEXON Lv2 Gothic Bold", sans-serif;
      color: #00ffbc;
      font-size: 4vw;
      position: absolute;
      top: -10%;
      cursor: default;
      opacity: 0.1;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-animation-name: flow, shake;
      animation-name: flow, shake;
      -webkit-animation-duration: 10s, 3s;
      animation-duration: 10s, 3s;
      -webkit-animation-timing-function: linear,ease-in-out;
      animation-timing-function: linear, ease-in-out;
      -webkit-animation-iteration-count: infinite,infinite;
      animation-iteration-count: infinite, infinite;
      -webkit-animation-play-state: running,running;
      animation-play-state: running, running; }
      #home .flow_wr .flow_item:nth-child(1) {
        left: -5%;
        -webkit-animation-delay: 0s, 0s;
        animation-delay: 0s, 0s; }
      #home .flow_wr .flow_item:nth-child(2) {
        left: 15%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s; }
      #home .flow_wr .flow_item:nth-child(3) {
        left: 30%;
        -webkit-animation-delay: 2s, 2s;
        animation-delay: 2s, 2s; }
      #home .flow_wr .flow_item:nth-child(4) {
        left: 15%;
        -webkit-animation-delay: 3s, 1s;
        animation-delay: 3s, 2s; }
      #home .flow_wr .flow_item:nth-child(5) {
        left: 40%;
        -webkit-animation-delay: 4s, 2s;
        animation-delay: 4s, 2s; }
      #home .flow_wr .flow_item:nth-child(6) {
        left: 60%;
        -webkit-animation-delay: 3s, 8s;
        animation-delay: 3s, 8s; }
      #home .flow_wr .flow_item:nth-child(7) {
        left: 60%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s; }
      #home .flow_wr .flow_item:nth-child(8) {
        left: 85%;
        -webkit-animation-delay: 2s, 8s;
        animation-delay: 2s, 8s; }
      #home .flow_wr .flow_item:nth-child(9) {
        left: 75%;
        -webkit-animation-delay: 0s, 2s;
        animation-delay: 0s, 2s; }
      #home .flow_wr .flow_item:nth-child(10) {
        left: 10%;
        -webkit-animation-delay: 4s, 3s;
        animation-delay: 4s, 3s; }
      #home .flow_wr .flow_item:nth-child(11) {
        left: 70%;
        -webkit-animation-delay: 8s, 2s;
        animation-delay: 8s, 2s; }
      #home .flow_wr .flow_item:nth-child(12) {
        left: 85%;
        -webkit-animation-delay: 7s, 1s;
        animation-delay: 7s, 1s; }
      #home .flow_wr .flow_item:nth-child(13) {
        left: 50%;
        -webkit-animation-delay: 6s, 4s;
        animation-delay: 6s, 4s; }
      #home .flow_wr .flow_item:nth-child(14) {
        left: 80%;
        -webkit-animation-delay: 4.5s, 1s;
        animation-delay: 4.5s, 1s; }
      #home .flow_wr .flow_item:nth-child(15) {
        left: 30%;
        -webkit-animation-delay: 5.5s, 2s;
        animation-delay: 5.5s, 2s; }
      #home .flow_wr .flow_item:nth-child(16) {
        left: 40%;
        -webkit-animation-delay: 8s, 4s;
        animation-delay: 8s, 4s; }
      #home .flow_wr .flow_item:nth-child(17) {
        left: 10%;
        -webkit-animation-delay: 9s, 1.5s;
        animation-delay: 9s, 1.5s; }
      #home .flow_wr .flow_item:nth-child(18) {
        left: 1%;
        -webkit-animation-delay: 6s, 2s;
        animation-delay: 6s, 2s; }
  #home .sec_wr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    font-size: 2em;
    line-height: 1.6; }
    #home .sec_wr .flip_wr {
      width: 100%;
      height: 100px;
      perspective: 1000px;
      -webkit-perspective: 1000px;
      perspective-origin: 50%;
      -webkit-perspective-origin: 50%;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      line-height: 1; }
      @media screen and (max-width: 700px) {
        #home .sec_wr .flip_wr {
          height: 80px; } }
      #home .sec_wr .flip_wr #flip {
        transition: 0.24s;
        transform-style: preserve-3d;
        position: relative;
        width: 100%;
        z-index: 9; }
        #home .sec_wr .flip_wr #flip .flip_item {
          backface-visibility: hidden;
          background: transparent;
          transition: 0.24s;
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          font-size: 1.5em; }
    #home .sec_wr #flip {
      width: 90%;
      height: 50px; }
      @media screen and (max-width: 700px) {
        #home .sec_wr #flip {
          height: 40px; } }
      #home .sec_wr #flip .flip_item {
        width: 100%; }
        #home .sec_wr #flip .flip_item.front {
          transform: translateZ(25px);
          opacity: 1; }
        #home .sec_wr #flip .flip_item.back {
          transform: translateZ(-25px) rotateX(180deg); }
        #home .sec_wr #flip .flip_item.top {
          transform: rotateX(270deg) translateY(-25px);
          transform-origin: center top; }
        #home .sec_wr #flip .flip_item.bottom {
          transform: rotateX(-270deg) translateY(25px);
          transform-origin: center bottom; }
        @media screen and (max-width: 700px) {
          #home .sec_wr #flip .flip_item.front {
            transform: translateZ(20px); }
          #home .sec_wr #flip .flip_item.back {
            transform: translateZ(-20px) rotateX(180deg); }
          #home .sec_wr #flip .flip_item.top {
            transform: rotateX(270deg) translateY(-20px); }
          #home .sec_wr #flip .flip_item.bottom {
            transform: rotateX(-270deg) translateY(20px); } }
@keyframes rotate {
  100% {
    transform: rotateX(360deg); } }
    #home .sec_wr span {
      display: block;
      font-size: 0.7em;
      font-family: "NEXON Lv2 Gothic Bold", sans-serif;
      color: #002118; }
    @media screen and (max-width: 1000px) {
      #home .sec_wr {
        font-size: 5vw; } }

/* _about.scss */
section {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  padding: 5vh 5px;
  width: 1000px; }
  @media screen and (max-width: 1000px) {
    section {
      width: 100%;
      padding: 5vh 20px; } }
  @media screen and (max-width: 700px) {
    section {
      width: 100%;
      padding: 5vh 20px; } }
  section:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both; }
  section .sec_wr {
    width: 100%; }
  section .sec_hd {
    width: 100%;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-display: flexbox;
    align-items: center; }
    section .sec_hd h1 {
      font-size: 2.5rem; }
      @media screen and (max-width: 700px) {
        section .sec_hd h1 {
          font-size: 10vw; } }
      @media screen and (max-width: 510px) {
        section .sec_hd h1 {
          font-size: 8vw; } }
    section .sec_hd div {
      flex-basis: 50%;
      flex-grow: 2;
      height: 2px;
      margin: 0 15px;
      background: #eee; }
  section .sub_head {
    font-family: "NEXON Lv2 Gothic Bold", sans-serif;
    color: #00ffbc;
    font-size: 1.4rem;
    margin: 20px 0;
    text-transform: uppercase; }
    @media screen and (max-width: 510px) {
      section .sub_head {
        font-size: 1.3rem; } }
  section .min {
    font-size: 0.75em; }

#about .profile_wr, #about .skill_wr {
  margin: 10px 0; }
#about .profile {
  position: relative;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-display: flexbox;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
#about .profile .profile_img {
  width: 300px;
  height: 400px;
  background-image: url("http://placehold.it/300x400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
#about .profile .profile_text {
  line-height: 1.7;
  padding-left: 10px; }
  #about .profile .profile_text .profile_name {
    margin-bottom: 20px; }
#about .career {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px; }
  #about .career .career_year {
    font-family: "NEXON Lv2 Gothic Bold", sans-serif;
    border-right: 2px solid #eee; }
  #about .career .career_year:nth-child(1) {
    grid-row: 1/3;
    align-self: center; }
  #about .career .career_text {
    padding-left: 30px; }
@media screen and (max-width: 700px) {
  #about > div {
    flex-grow: 1; }
  #about .profile .profile_img {
    height: 300px; }
  #about .career .career_text {
    padding-left: 5px; } }
@media screen and (max-width: 510px) {
  #about .profile {
    flex-wrap: wrap; }
  #about .profile .profile_name {
    text-align: center;
    margin: 20px 0; }
  #about .career {
    margin: 40px 0; } }

/*# sourceMappingURL=main.css.map */
