@charset "UTF-8";
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NEXON Lv2 Gothic Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* 초기화 { */
html {
  overflow-y: scroll; }

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 0.94em;
  overflow: hidden;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  font-family: "NEXON Lv2 Gothic Bold", sans-serif;
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden; }

label, input, button, select, img {
  vertical-align: middle;
  font-size: 1.1em; }

input, button {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1.1em; }

input[type="submit"], button {
  cursor: pointer; }

textarea, select {
  font-size: 1.1em; }

select {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  word-break: keep-all; }

hr {
  display: none; }

pre {
  overflow-x: scroll;
  font-size: 1.2em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #002118; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, p, span, pre, i, b, a {
  font-weight: normal;
  font-style: normal;
  font-family: "NEXON Lv2 Gothic", sans-serif;
  color: #002118; }

/* } 초기화 끝  */
/* 기본 설정 */
.sound_only {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden; }

footer {
  width: 100%; }

#container {
  width: 100%; }
  #container section {
    max-width: 1000px;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    padding: 5vh 0; }
    #container section:after {
      content: '';
      display: block;
      visibility: hidden;
      clear: both; }
  footer, #hd {
    position: relative; }

#empty {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00ffbc;
  opacity: 0.2;
  display: none;
  z-index: 90; }

#empty.open {
  display: block; }

/* header */
header {
  position: fixed;
  width: 20%;
  height: 100vh;
  left: 100%;
  top: 0;
  z-index: 99; }
  header #mark {
    position: absolute;
    top: 30%;
    left: -62.5px;
    width: 62.5px;
    height: 50px;
    cursor: pointer; }
    header #mark .bars {
      height: 4px;
      background: #fff;
      display: block;
      border-radius: 10px;
      transition: width .3s;
      margin-bottom: 9px;
      width: 100%; }
      header #mark .bars:nth-child(1) {
        width: 75%; }
      header #mark .bars:nth-child(2) {
        width: 50%; }
      header #mark .bars:nth-child(3) {
        width: 60%;
        margin-bottom: 0; }
    header #mark .box {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background: #00ffbc;
      box-sizing: border-box;
      padding: 10px;
      z-index: 3; }
    header #mark .tail {
      width: 12.5px;
      height: 12.5px;
      border-width: 25px;
      border-style: solid;
      position: absolute;
      left: -12.5px;
      top: 0;
      box-sizing: border-box; }
      header #mark .tail.up {
        border-color: #00ffbc #00ffbc transparent transparent; }
      header #mark .tail.down {
        border-color: transparent #00ffbc #00ffbc transparent; }
    header #mark:hover .bars, header #mark.open .bars {
      width: 100%; }

#hd {
  width: 100%;
  background: #00ffbc;
  height: 100%; }
  #hd .hd1li {
    padding: 15px 15%;
    font-size: 1.3em; }
    #hd .hd1li a {
      font-family: "NEXON Lv2 Gothic Bold", sans-serif;
      color: #fff;
      display: inline-block;
      width: 100%;
      line-height: 2;
      transition: color 0.24s;
      text-transform: uppercase;
      position: relative; }
    #hd .hd1li a::after {
      content: '';
      width: 0%;
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      border-radius: 10px;
      background: #002118;
      transition: width 0.24s; }
    #hd .hd1li:hover, #hd .hd1li.active a {
      color: #002118; }
    #hd .hd1li.active a::after {
      width: 70%; }
  #hd p {
    color: #fff;
    font-family: "NEXON Lv2 Gothic Bold", sans-serif; }
    #hd p:first-child {
      margin-bottom: 30%;
      padding: 40px 15% 0;
      font-size: 1.3em; }
    #hd p:last-child {
      font-size: 0.83em;
      position: absolute;
      bottom: 40px;
      left: 10%;
      padding: 0; }

/* header 끝 */
/* body */
#home {
  max-width: 100% !important;
  text-align: center;
  overflow: hidden; }
  #home .flow_wr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 60px solid #00ffbc;
    box-sizing: border-box; }
@-webkit-keyframes flow {
  0% {
    top: -10%; }
  100% {
    top: 110%; } }
@keyframes flow {
  0% {
    top: -10%; }
  100% {
    top: 110%; } }
@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translateX(150px); } }
@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translateX(150px); } }
    #home .flow_wr .flow_item {
      font-size: 2.4em;
      font-family: "NEXON Lv2 Gothic Bold", sans-serif;
      color: #00ffbc;
      position: absolute;
      top: -10%;
      z-index: 8;
      cursor: default;
      opacity: 0.2;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-animation-name: flow, shake;
      animation-name: flow, shake;
      -webkit-animation-duration: 10s, 3s;
      animation-duration: 10s, 3s;
      -webkit-animation-timing-function: linear,ease-in-out;
      animation-timing-function: linear, ease-in-out;
      -webkit-animation-iteration-count: infinite,infinite;
      animation-iteration-count: infinite, infinite;
      -webkit-animation-play-state: running,running;
      animation-play-state: running, running; }
      #home .flow_wr .flow_item:nth-child(1) {
        left: -5%;
        -webkit-animation-delay: 0s, 0s;
        animation-delay: 0s, 0s; }
      #home .flow_wr .flow_item:nth-child(2) {
        left: 15%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s; }
      #home .flow_wr .flow_item:nth-child(3) {
        left: 30%;
        -webkit-animation-delay: 2s, 2s;
        animation-delay: 2s, 2s; }
      #home .flow_wr .flow_item:nth-child(4) {
        left: 15%;
        -webkit-animation-delay: 3s, 1s;
        animation-delay: 3s, 2s; }
      #home .flow_wr .flow_item:nth-child(5) {
        left: 40%;
        -webkit-animation-delay: 4s, 2s;
        animation-delay: 4s, 2s; }
      #home .flow_wr .flow_item:nth-child(6) {
        left: 60%;
        -webkit-animation-delay: 3s, 8s;
        animation-delay: 3s, 8s; }
      #home .flow_wr .flow_item:nth-child(7) {
        left: 60%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s; }
      #home .flow_wr .flow_item:nth-child(8) {
        left: 85%;
        -webkit-animation-delay: 2s, 8s;
        animation-delay: 2s, 8s; }
      #home .flow_wr .flow_item:nth-child(9) {
        left: 75%;
        -webkit-animation-delay: 0s, 2s;
        animation-delay: 0s, 2s; }
      #home .flow_wr .flow_item:nth-child(10) {
        left: 10%;
        -webkit-animation-delay: 4s, 3s;
        animation-delay: 4s, 3s; }
      #home .flow_wr .flow_item:nth-child(11) {
        left: 70%;
        -webkit-animation-delay: 8s, 2s;
        animation-delay: 8s, 2s; }
      #home .flow_wr .flow_item:nth-child(12) {
        left: 85%;
        -webkit-animation-delay: 7s, 1s;
        animation-delay: 7s, 1s; }
      #home .flow_wr .flow_item:nth-child(13) {
        left: 50%;
        -webkit-animation-delay: 6s, 4s;
        animation-delay: 6s, 4s; }
      #home .flow_wr .flow_item:nth-child(14) {
        left: 80%;
        -webkit-animation-delay: 4.5s, 1s;
        animation-delay: 4.5s, 1s; }
      #home .flow_wr .flow_item:nth-child(15) {
        left: 30%;
        -webkit-animation-delay: 5.5s, 2s;
        animation-delay: 5.5s, 2s; }
      #home .flow_wr .flow_item:nth-child(16) {
        left: 40%;
        -webkit-animation-delay: 8s, 4s;
        animation-delay: 8s, 4s; }
      #home .flow_wr .flow_item:nth-child(17) {
        left: 10%;
        -webkit-animation-delay: 9s, 1.5s;
        animation-delay: 9s, 1.5s; }
      #home .flow_wr .flow_item:nth-child(18) {
        left: 1%;
        -webkit-animation-delay: 6s, 2s;
        animation-delay: 6s, 2s; }

/* body 끝 */
/* footer */
/* footer 끝 */

/*# sourceMappingURL=main.css.map */
