@import "config";

/* header */
header {
    $poa : absolute;
    $mark_box_h : 50px;
    $mark_box_t : 12.5px;
    $mark_box_w : $mark_box_t + $mark_box_h;
    $header_width : 20% !global;
    position: fixed; width: $header_width; height: 100vh; left: 100%; top: 0;
    z-index: 99;
    #mark {
        position: $poa; top: 30%; left: -$mark_box_w; width: $mark_box_w; height: $mark_box_h; cursor: pointer;
        .bars {
            height: 4px; background: $color_back; display: block; border-radius: 10px; transition: width .3s; margin-bottom: 9px; width: 100%;
            &:nth-child(1) {width: 75%;}
            &:nth-child(2) {width: 50%;}
            &:nth-child(3) {width: 60%; margin-bottom: 0;}
        }
        .box {
            position: absolute; right: 0; top: 0; width: $mark_box_h; height: $mark_box_h; background: $color_point; box-sizing: border-box; padding: 10px; z-index: 3;
        }
        .tail{
            width: $mark_box_t; height: $mark_box_t;border-width: $mark_box_t * 2; border-style: solid; position: $poa; left: -$mark_box_t; top: 0; box-sizing: border-box;
            &.up {border-color: $color_point $color_point transparent transparent;}
            &.down { border-color: transparent $color_point $color_point transparent;}
        }
        &:hover, &.open {
            .bars {width: 100%;}
        }
    }
}
#hd {
    width: 100%; background: $color_point; height: 100%;
    .hd1li {
        padding: 15px 15%; font-size: 1.3em;
        $hover_time : 0.24s;
        a {font-family: $fontB; color: $color_back; display: inline-block; width: 100%; line-height: 2; transition: color $hover_time; text-transform: uppercase; position: relative;}
        a::after {content:''; width: 0%; position: absolute; top: 100%; left: 0; height: 2px; border-radius: 10px; background: $color_text; transition: width $hover_time;}
        &:hover, &.active a {color: $color_text;}
        &.active a::after {width: 70%; }
    }
    p{
        color: $color_back; font-family: $fontB;
        &:first-child {margin-bottom: 30%; padding: 40px 15% 0; font-size: 1.3em;}
        &:last-child {font-size: 0.83em; position: absolute; bottom: 40px; left: 10%; padding: 0;}
    }
}
/* header 끝 */

/* body */
#home {
    max-width: 100% !important; text-align: center; overflow: hidden;
    .flow_wr {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        border-bottom: 60px solid $color_point; box-sizing: border-box;
        @-webkit-keyframes flow {0% {top:-10%} 100% {top: 110%;}};
        @keyframes flow {0% {top: -10%;} 100% { top : 110%;}}
        @-webkit-keyframes shake {0%, 100% {transform:translateX(0)} 50% {transform: translateX(150px);}}
        @keyframes shake {0%, 100% {transform:translateX(0)} 50% {transform:translateX(150px)}}
        
        .flow_item {
            font-size: 4vw; font-family: $fontB; color: $color_point; position: absolute; top: -10%; cursor: default; opacity: 0.1;
            -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
            -webkit-animation-name: flow, shake;  animation-name: flow, shake;
            -webkit-animation-duration: 10s, 3s; animation-duration: 10s, 3s;
            -webkit-animation-timing-function:linear,ease-in-out; animation-timing-function: linear, ease-in-out;
            -webkit-animation-iteration-count:infinite,infinite; animation-iteration-count: infinite, infinite;
            -webkit-animation-play-state:running,running; animation-play-state: running, running;
            &:nth-child(1) {left: -5%; -webkit-animation-delay: 0s, 0s; animation-delay: 0s, 0s;}
            &:nth-child(2) {left: 15%; -webkit-animation-delay: 1s, 1s; animation-delay: 1s, 1s;}
            &:nth-child(3) {left: 30%; -webkit-animation-delay: 2s, 2s; animation-delay: 2s, 2s;}
            &:nth-child(4) {left: 15%; -webkit-animation-delay: 3s, 1s; animation-delay: 3s, 2s;}
            &:nth-child(5) {left: 40%; -webkit-animation-delay: 4s, 2s; animation-delay: 4s, 2s;}
            &:nth-child(6) {left: 60%; -webkit-animation-delay: 3s, 8s; animation-delay: 3s, 8s;}
            &:nth-child(7) {left: 60%; -webkit-animation-delay: 1s, 1s; animation-delay: 1s, 1s;}
            &:nth-child(8) {left: 85%; -webkit-animation-delay: 2s, 8s; animation-delay: 2s, 8s;}
            &:nth-child(9) {left: 75%; -webkit-animation-delay: 0s, 2s; animation-delay: 0s, 2s;}
            &:nth-child(10) {left: 10%; -webkit-animation-delay: 4s, 3s; animation-delay: 4s, 3s;}
            &:nth-child(11) {left: 70%; -webkit-animation-delay: 8s, 2s; animation-delay: 8s, 2s;}
            &:nth-child(12) {left: 85%; -webkit-animation-delay: 7s, 1s; animation-delay: 7s, 1s;}
            &:nth-child(13) {left: 50%; -webkit-animation-delay: 6s, 4s; animation-delay: 6s, 4s;}
            &:nth-child(14) {left: 80%; -webkit-animation-delay: 4.5s, 1s; animation-delay: 4.5s, 1s;}
            &:nth-child(15) {left: 30%; -webkit-animation-delay: 5.5s, 2s; animation-delay: 5.5s, 2s;}
            &:nth-child(16) {left: 40%; -webkit-animation-delay: 8s, 4s; animation-delay: 8s, 4s;}
            &:nth-child(17) {left: 10%; -webkit-animation-delay: 9s, 1.5s; animation-delay: 9s, 1.5s;}
            &:nth-child(18) {left: 1%; -webkit-animation-delay: 6s, 2s; animation-delay: 6s, 2s;}
        }

    }
    .sec_wr {
        position: absolute; width: 100%; top: 30%; font-size: 2em; line-height: 1.6;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
        perspective: 1000px; -webkit-perspective: 1000px; perspective-origin: 50%; -webkit-perspective-origin: 50%; 
        #flip {
            position: relative; width: 100%; height: 100px; z-index: 3; transition: .2s;
            transform-style: preserve-3d; 
            // animation: rotate 4s linear infinite;
            .flip_item {
                position: absolute; width: 100%; top: 25%; left: 0; backface-visibility: hidden; background: transparent; 
                font-size: 1.5em; transition: .2s; line-height: 1; opacity: 0;
                &:nth-child(1) {transform: translateZ(25px); opacity: 1;}
                &:nth-child(2) {transform: rotateX(270deg) translateY(-25px); transform-origin: top;}
                &:nth-child(3) {transform: translateZ(-25px) rotateX(180deg);}
                &:nth-child(4) {transform: rotateX(-270deg) translateY(25px); transform-origin: bottom; }
            }
            @keyframes rotate {
                100% {transform: rotateX(360deg)}
            }
        }
        span {display: block; font-size: 0.7em; font-family: $fontB; }
    }
}
/* body 끝 */

/* footer */
/* footer 끝 */