@charset "utf-8";
/* _mixin.scss */

@mixin respond($media) {
    @if $media == $default_width {
        @media screen and (max-width:$pc_width) { @content; }
    }
    @else if $media == $min_width {
        @media screen and (max-width:$min_width) { @content; }
    }
    @else if $media == $mobile_width {
        @media screen and (max-width:$mobile_width) { @content; }
    }
}

@mixin poa(
    $position:absolute,
    $width:$default_width, 
    $height:100vh, 
    $top:0,
    $zindex:1
) {
    position: $position;
    width: if(unitless($width), #{$width}px, $width);
    height: if(unitless($height), #{$height}px, $height);
    top: if(unitless($top), #{$top}px, $top);
    z-index: $zindex;
    @content;
}

@mixin por($width) {
    position: relative;
    width: if(unitless($width), #{$width}px, $width);
}

@mixin sound_only() {position: absolute; margin: 0; padding: 0; line-height: 0; font-size: 0; text-indent: -9999em; overflow: hidden;}

@mixin head-width {
    @media screen and (min-width: $pc_width) {
        width: 30%;
    }
    @media screen and (max-width: $pc_width) {
        width: 35%;
    }
    @media screen and (max-width: $min_width) {
        width: 50%;
    }
    @media screen and (max-width: $mobile_width) {
        width: 70%;
    }
}

@mixin section-option {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    padding: 5vh 5px;
    width: $pc_width;
    @include respond($default_width) {
        width: 100%; 
        padding: 5vh 20px;
    }
    @include respond($min_width) {
        width: 100%; 
        padding: 5vh 20px;
    }
    &:after {
        content:'';
        display: block; 
        visibility: hidden; 
        clear: both;
    }
    @content;
}

@mixin bars($width, $height, $background, $bdrs) {
    width: if(unitless($width), #{$width}px, $width);
    height: if(unitless($height), #{$height}px, $height);
    background: $background;
    border-radius: if(unitless($bdrs), #{$bdrs}px, $bdrs);
    @content;
}

@mixin header-color($color:$color_text) {
    font-family: $fontB;
    color: $color;
}

@mixin no-drag {
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}

@mixin home-anim {
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    -webkit-animation-name: flow, shake;  
    animation-name: flow, shake;
    -webkit-animation-duration: 10s, 3s; 
    animation-duration: 10s, 3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite; 
    animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state:running,running; 
    animation-play-state: running, running;
    @content;
}

@mixin text-3d {
    perspective: 1000px; 
    -webkit-perspective: 1000px; 
    perspective-origin: 50%; 
    -webkit-perspective-origin: 50%; 
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    #flip {
        transition: $hover_time;
        transform-style: preserve-3d;
        @include por(100%);
        z-index: 9;
        .flip_item {
            backface-visibility: hidden;
            background: transparent;
            transition: $hover_time;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: 1.5em;
        }
    }
}

@mixin flex {
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-display: flexbox;
    align-items: center;
}

@mixin section-head {
    width: 100%;
    @include flex;
    h1 {
        font-size: 2.5rem;
        @include respond($min_width) {font-size: 10vw;}
        @include respond($mobile_width) {font-size: 8vw;}
    }
    div {
        flex-basis: 50%; 
        flex-grow: 2; 
        height: 2px;
        margin: 0 15px;
        background: $color_line;
    }
}

@mixin sub-head {
    @include header-color($color_point);
    font-size: 1.4rem;
    @include respond($mobile_width) {font-size: 1.3rem;}
    margin: 40px 0 30px;
    text-transform: uppercase;
}
