@charset "utf-8";
/* _variables.scss */

/* global { */
$default_width : 100%;
$pc_width : 1000px;
/* } global */

/* head { */
$mark_box_h : 50px;
$mark_box_t : 12.5px;
$mark_box_w : $mark_box_t + $mark_box_h;
$hover_time : 0.24s;
/* } head */

/* #home { */

/* } #home */