@charset "utf-8";
/* _home.scss */

#home {
    @include section-option {width: 100%;};
    text-align: center;
    overflow: hidden;
    .flow_wr {
        @include poa(absolute, 100%, 100%, 0, 1) {
            left: 0; 
            border-bottom: 60px solid $color_point;
            box-sizing: border-box;
        }
        @-webkit-keyframes flow {0% {top:-10%} 100% {top: 110%;}};
        @keyframes flow {0% {top: -10%;} 100% { top : 110%;}}
        @-webkit-keyframes shake {0%, 100% {transform:translateX(0)} 50% {transform: translateX(150px);}}
        @keyframes shake {0%, 100% {transform:translateX(0)} 50% {transform:translateX(150px)}}
        .flow_item {
            @include no-drag;
            @include header-color($color_point);
            font-size: 4vw;
            position: absolute; 
            top: -10%;
            cursor: default;
            opacity: 0.1;
            @include home-anim {
                &:nth-child(1) {left: -5%; -webkit-animation-delay: 0s, 0s; animation-delay: 0s, 0s;}
                &:nth-child(2) {left: 15%; -webkit-animation-delay: 1s, 1s; animation-delay: 1s, 1s;}
                &:nth-child(3) {left: 30%; -webkit-animation-delay: 2s, 2s; animation-delay: 2s, 2s;}
                &:nth-child(4) {left: 15%; -webkit-animation-delay: 3s, 1s; animation-delay: 3s, 2s;}
                &:nth-child(5) {left: 40%; -webkit-animation-delay: 4s, 2s; animation-delay: 4s, 2s;}
                &:nth-child(6) {left: 60%; -webkit-animation-delay: 3s, 8s; animation-delay: 3s, 8s;}
                &:nth-child(7) {left: 60%; -webkit-animation-delay: 1s, 1s; animation-delay: 1s, 1s;}
                &:nth-child(8) {left: 85%; -webkit-animation-delay: 2s, 8s; animation-delay: 2s, 8s;}
                &:nth-child(9) {left: 75%; -webkit-animation-delay: 0s, 2s; animation-delay: 0s, 2s;}
                &:nth-child(10) {left: 10%; -webkit-animation-delay: 4s, 3s; animation-delay: 4s, 3s;}
                &:nth-child(11) {left: 70%; -webkit-animation-delay: 8s, 2s; animation-delay: 8s, 2s;}
                &:nth-child(12) {left: 85%; -webkit-animation-delay: 7s, 1s; animation-delay: 7s, 1s;}
                &:nth-child(13) {left: 50%; -webkit-animation-delay: 6s, 4s; animation-delay: 6s, 4s;}
                &:nth-child(14) {left: 80%; -webkit-animation-delay: 4.5s, 1s; animation-delay: 4.5s, 1s;}
                &:nth-child(15) {left: 30%; -webkit-animation-delay: 5.5s, 2s; animation-delay: 5.5s, 2s;}
                &:nth-child(16) {left: 40%; -webkit-animation-delay: 8s, 4s; animation-delay: 8s, 4s;}
                &:nth-child(17) {left: 10%; -webkit-animation-delay: 9s, 1.5s; animation-delay: 9s, 1.5s;}
                &:nth-child(18) {left: 1%; -webkit-animation-delay: 6s, 2s; animation-delay: 6s, 2s;}
            }

        }
    }
    .sec_wr {
        @include no-drag;
        position: absolute; 
        width: 100%;
        top: 45%;
        transform: translateY(-50%);
        font-size: 2em;
        line-height: 1.6;
        @include respond($mobile_width) {$flip_height : 30px !global;}
        .flip_wr {
            width: 100%;
            height: $flip_height*2;
            @include text-3d;
            line-height: 1;
        }
        #flip { 
            width: 90%;
            height: $flip_height;
            // animation: rotate 4s infinite linear;
            .flip_item {
                width: 100%;
                // height: 50px;
                &.front {transform: translateZ($flip_height/2); opacity: 1;}
                &.back {transform: translateZ(-($flip_height/2)) rotateX(180deg);}
                &.top {transform: rotateX(270deg) translateY(-($flip_height/2)); transform-origin: center top;}
                &.bottom {transform: rotateX(-270deg) translateY($flip_height/2); transform-origin: center bottom;}
            }
        }
        @keyframes rotate {
            100% {transform: rotateX(360deg)}
        }
        span {
            display: block;
            font-size: 0.7em;
            @include header-color();
        }
        @include respond($default_width) {
            font-size: 5vw;
        }
    }
}